<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING/DTD BEAN//EN"
	"http://www.springframework.org/dtd/spring-beans.dtd">



<beans>

	<bean id="areaService" class="mx.edu.iems.inventario.services.AreaService" />

	<bean id="usuarioService" class="mx.edu.iems.inventario.services.UsuarioService" />
</beans>