<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd   
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-3.0.xsd 
	http://www.springframework.org/schema/jdbc 
	http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">
	


<bean id="dataSource" class="org.apache.commons.dbcp.BasicDataSource"
	destroy-method="close">
	
	<property name="driverClassName" value="org.hibernate.dialect.PostgreSQLDialect"/>
	<property name="url" value="${jdbc.url}"/>
	<property name="username" value="${jdbc.username}"/>
	<property name="password" value="${jdbc.password}"/>
	
	<!-- para abrir un pool de conexiones -->
	<property name="maxActive" value="20" />
	<property name="maxIdle" value="10" />
	<property name="maxWait" value="1000" />
	<property name="defaultAutoCommit" value="false" />
	<property name="removeAbandoned" value="true" />
	<property name="removeAbandonedTimeout" value="60" />
	<property name="logAbandoned" value="true" />

</bean>


</beans>

